<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoinPrice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>TaroMaroCoin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>WatchCoin (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9026AD592048231800268B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9026AD712048231900268B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9026AD7C2048231900268B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909CFD9820514D1E0033C55A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
